<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Todo List</title>
  </head>
  <body>
    <div class="big-box">
      <h1 class="app-title">Welcome to your Todo List</h1>
      <!-- <button>
        <a href="/todos"><p>Create Todo List</p></a>
      </button> -->
      <a href="/login">
        <button>Login</button>
      </a>
      <a href="/signup"> <button>SignUp</button></a>
      <p class="copyright">
        &copy; Made by
        <a href="https://mylenavendramini.com/">Mylena Vendramini</a>
      </p>
    </div>
  </body>
</html>
